<!--
  #%L
  iCanCode - it's a dojo-like platform from developers to developers.
  %%
  Copyright (C) 2016 EPAM
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
d
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<head>
    <meta charset="UTF-8">
</head>
<div id="test"></div>

<script src="TestNodeStub.js"></script>
<script src="../Runner.js"></script>
<script src="RunnerTest.js"></script>
<script>
    runTest();
</script>